# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://volleyball_user:volleyball_12345@cluster0.hzyji.mongodb.net/node-volleyball?retryWrites=true&w=majority
#MONGODB_URL=mongodb://3.6.229.134:27017/volleyballproject
IMAGE_BASE_URL = "http://localhost:3000/"
# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
email_from=support@yourapp.com
